<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fb2513bbb7e8453ffb708d9b810967f7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fb2513bbb7e8453ffb708d9b810967f7" ></div>
        
</body>
<script>
    
    
            var map_fb2513bbb7e8453ffb708d9b810967f7 = L.map(
                "map_fb2513bbb7e8453ffb708d9b810967f7",
                {
                    center: [37.1232245, -78.4927721],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0787e8be222e133bc265c56b5e04b11b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_0787e8be222e133bc265c56b5e04b11b.addTo(map_fb2513bbb7e8453ffb708d9b810967f7);
        
    
            var marker_fe50f36c8eea346a49e608883173fac7 = L.marker(
                [37.1232245, -78.4927721],
                {}
            ).addTo(map_fb2513bbb7e8453ffb708d9b810967f7);
        
    
        var popup_bea04321e07982ec0d180d84dca8f206 = L.popup({"maxWidth": "100%"});

        
            
                var html_8804f320bb71a02ce334fd39a6ca9944 = $(`<div id="html_8804f320bb71a02ce334fd39a6ca9944" style="width: 100.0%; height: 100.0%;">Virginia</div>`)[0];
                popup_bea04321e07982ec0d180d84dca8f206.setContent(html_8804f320bb71a02ce334fd39a6ca9944);
            
        

        marker_fe50f36c8eea346a49e608883173fac7.bindPopup(popup_bea04321e07982ec0d180d84dca8f206)
        ;

        
    
</script>
</html>